[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django = "*"
django-cors-headers = "*"
psycopg = "*"
psycopg2 = "*"
djangorestframework = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.12"
